.header {
    background: $header-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $header-title;
}

.nav {
    display: flex;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: #000;
    }
}
