.header {
    @extend %flexWrap;
    background: $header-bg;
    color: $header-title;
}

.nav {
    display: flex;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: inherit;
    font-size: 18px;

    &:hover {
        scale: 1.2;
    }
}

.active {
    color: $active-tab-color;
}
