$active-tab-color: #f97316;
$inactive-tab-color: #374151;
$add-new-dish-bg: #fcac73;
$add-new-dist-text: #ffffff;
$card-bg: #ffff;
$card-shadow: #e5e7eb;
$dish-title-color: #4c4c4e;
$dish-price-color: #2c712fd1;
$edit-btn-color: #117e55e9;
$delete-btn-color: #ef4444;
$header-bg: #eae6e6;
$header-title: #494747;
